  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-3">
            <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;">
              Builder's List</h6>
          </div>
          <div class="col-lg-6"></div>

        </div>


      </div>
      <div class="card-body">

        <div class="table-responsive">

          <table id="add-row" class="table table-head-bg-primary">
            <thead>
              <tr>
                <th class="fw-bold">SN.No</th>
                <th class="fw-bold">Image</th>
                <th class="fw-bold">Name</th>
                <th class="fw-bold">Mobile No</th>
                <th class="fw-bold">Email</th>
                <th style="width: 12%">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of all;let i=index">
                <td>{{i+1}}</td>
                <td *ngIf="item.imagUrl==null">
                  <img src="../../assets/41-512.png" style="height:50px; width: 50px;" alt="img">
                </td>
                <td *ngIf="item.imagUrl!=null">
                  <img [src]="item.imagUrl" style="height:50px; width: 50px;" alt="img">
                </td>
                <td>{{item.fullName}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.email}}</td>
                <td>
                  <ul class="list-inline m-0">
                    <li data-toggle="tooltip" data-placement="top" title="View" class="list-inline-item">
                      <div class="form-button-action">
                        <button (click)="View(item.id)" class="btn btn-primary btn-sm rounded-0" style="cursor: pointer;"
                         id="modalActivate"
                          data-toggle="modal" data-target="#myModal">
                          <i class="fa fa-table"></i>
                        </button>
                      </div> 
                      </li>
                      <li data-toggle="tooltip" data-placement="top" title="View" class="list-inline-item">
                        <div class="form-button-action">
                          <button class="btn btn-warning btn-sm rounded-0" style="cursor: pointer; color: white;"
                           id="modalActivate" (click)="View(item.id)"
                            data-toggle="modal" data-target="#myModal1">
                            <i class="fa fa-edit"></i>
                          </button>
                        </div> 
                        </li>
                    <li data-toggle="tooltip" data-placement="top" title="Delete" class="list-inline-item">
                      <div class="form-button-action">
                        <button class="btn btn-danger btn-sm rounded-0" style="cursor: pointer;"
                           (click)="DeleteOwner(item.id)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div> 
                        
                    </li>
                </ul>
                
                 
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-10">
          </div>
          <div class="col-lg-2">
            <!-- <pagination style="background-color: tomato;" class="pagination-sm my-pagination"
              [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
              (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"></pagination> -->
          </div>
        </div>
      </div>
    </div>
  </div>


    <!--Builder View Modal -->
<div class="modal fade right" id="myModal" tabindex="-1" role="dialog"
aria-labelledby="myModal" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
  <div class="modal-content-full-width modal-content ">
    <div style="background-color: #3f4448f0;" class=" modal-header-full-width modal-header text-center">
      <div class="logo">
        <a [routerLink]="['/adminpanel']"><img src="../../assets/Images/./../../assets/img/Spacing/Logo.png"
            style="width: 180px; height: 48px" alt="logo"></a>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Owner Profile</h6>
      <hr style="border: 1px solid tomato;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <div class="box box-info">
                  <div class="box-body">
                    <div class="col-sm-6">
                      <img  *ngIf="owner?.imagUrl==null" src="../../assets/41-512.png" style="height:50px; width: 50px;" alt="img">
                        <img *ngIf="owner?.imagUrl!=null" [src]="owner?.imagUrl" alt="User Pic"
                          id="profile-image1" class="img-circle img-responsive">
                        <!-- <input id="profile-image-upload" class="hidden" type="file">
                        <div style="color:#999;">click here to change profile image</div> -->
                        <!--Upload Image Js And Css-->
                     
                      <br />

                      <!-- /input-group -->
                    </div>
                   
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;"> 

                    <div class="col-sm-5 col-xs-6 tital ">Name:</div>
                    <div class="col-sm-7 col-xs-6 ">{{owner?.fullName}}</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                   

                    <div class="col-sm-5 col-xs-6 tital ">Phone</div>
                    <div class="col-sm-7">{{owner?.phoneNumber}}</div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Email:</div>
                    <div class="col-sm-7">{{owner?.email}}</div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Rera Number:</div>
                    <div class="col-sm-7">{{owner?.reraNo}}</div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Gst Number:</div>
                    <div class="col-sm-7">{{owner?.gstNo}}</div>
                  
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Landline Number:</div>
                    <div class="col-sm-7">{{owner?.landlineNo}}</div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Firm Number:</div>
                    <div class="col-sm-7">{{owner?.brokerFirm}}</div>

                    <div class="clearfix"></div>
                    <div class="bot-border"></div>

                    <div class="col-sm-5 col-xs-6 tital ">Locations:</div>
                    <div class="col-sm-7">{{owner?.locations}}</div>

                  

                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->

                </div>


              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button class="btn btn-orange"  data-dismiss="modal" type="button"><i
          class="fa fa-close"></i> Close</button>
    </div>
  </div>
</div>
</div>


  <!--Builder Edit Modal -->
  <form [formGroup]="registerOwner" (ngSubmit)="Edit()">
  <div class="modal fade right" id="myModal1" tabindex="-1" role="dialog"
  aria-labelledby="myModal1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content-full-width modal-content ">
      <div style="background-color: #3f4448f0;" class=" modal-header-full-width modal-header text-center">
        <div class="logo">
          <a [routerLink]="['/adminpanel']"><img src="../../assets/Images/./../../assets/img/Spacing/Logo.png"
              style="width: 180px; height: 48px" alt="logo"></a>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body">
        <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Profile Edit</h6>
        <hr style="border: 1px solid tomato;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                </div>
               
                <div class="panel-body">
                  <div class="box box-info">
                    <div class="box-body">
                      <div class="col-sm-6">
                        <img *ngIf="owner?.imagUrl==null" src="../../assets/41-512.png" style="height:50px; width: 50px;" alt="img">
                          <img *ngIf="owner?.imagUrl!=null" [src]="owner?.imagUrl" alt="User Pic"
                            id="profile-image1" class="img-circle img-responsive">
                          <!-- <input id="profile-image-upload" class="hidden" type="file">
                          <div style="color:#999;">click here to change profile image</div> -->
                          <!--Upload Image Js And Css-->
                        <br />
  
                        <!-- /input-group -->
                      </div>
                     
                      <div class="clearfix"></div>
                      <hr style="margin:5px 0 5px 0;"> 
  
                      <div class="col-sm-5 col-xs-6 tital ">Name:</div>
                      <div class="col-sm-7 col-xs-6 ">
                        <input type="text" class="form-control"
                        formControlName="name" [value]="owner?.fullName"/>
                      </div>
                      <div class="clearfix"></div>
                      <div class="bot-border"></div> 
  
                      <div class="col-sm-5 col-xs-6 tital ">Phone</div>
                      <div class="col-sm-7">
                        <input type="text" class="form-control"
                        formControlName="phone"
                        [value]="owner?.phoneNumber"/>
                        </div>
  
                      <div class="clearfix"></div>
                      <div class="bot-border"></div>

                      <div class="col-sm-5 col-xs-6 tital ">Email:</div>
                      <div class="col-sm-7">
                        <input type="text" class="form-control"
                        formControlName="email"
                        [value]="owner?.email"/>
                        </div>
  
                      <div class="clearfix"></div>
                      <div class="bot-border"></div>
  
                      <div class="col-sm-5 col-xs-6 tital ">Rera Number:</div>
                      <div class="col-sm-7">
                        <input type="text" class="form-control"
                        formControlName="rerano"
                        [value]="owner?.reraNo"/>
                        </div>

                        <div class="clearfix"></div>
                      <div class="bot-border"></div>
  
                      <div class="col-sm-5 col-xs-6 tital ">GST Number:</div>
                      <div class="col-sm-7">
                        <input type="text" class="form-control"
                        formControlName="gstno"
                        [value]="owner?.gstNo"/>
                        </div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
    
                        <div class="col-sm-5 col-xs-6 tital ">Landline Number:</div>
                        <div class="col-sm-7">
                          <input type="text" class="form-control"
                          formControlName="landlineno"
                          [value]="owner?.landlineNo"/>
                          </div>

                          <div class="clearfix"></div>
                          <div class="bot-border"></div>
      
                          <div class="col-sm-5 col-xs-6 tital ">Firm Number:</div>
                          <div class="col-sm-7">
                            <input type="text" class="form-control"
                            formControlName="firmno"
                            [value]="owner?.brokerFirm"/>
                            </div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
        
                            <div class="col-sm-5 col-xs-6 tital ">Location:</div>
                            <div class="col-sm-7">
                              <input type="text" class="form-control"
                              formControlName="location"
                              [value]="owner?.locations"/>
                              </div>
  
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    
                  </div>
  
  
                </div>
                 
              </div>
            </div>
  
          </div>
        </div>
  
  
      </div>
      <div class="modal-footer">
        <button class="btn btn-orange"   type="submit"><i
            class="fa fa-save"></i> Save</button>
      </div>
     
    </div>
  </div>
  </div>
</form>