<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
  <title>Spacing</title>
  <!-- favicon -->
  <link rel=icon href=assets/img/favicon.png sizes="20x20" type="image/png">
  <!-- Vendor Stylesheet -->
  <style>
    a.sellrpBtn {
      cursor: pointer;
      position: relative;
      font-size: 14px;
      color: #fff;
    }

    a.postPropertyBtn {
      font-weight: 600;
      padding: 8px 12px;
      border: 1px solid #fda94f;
      border-radius: 2px !important;
      background: rgba(0, 0, 0, .3);
    }

    a.a:hover {
      font-weight: 600;
      padding: 8px 12px;
      border: 1px solid #fda94f;
      border-radius: 2px !important;
      background: rgba(0, 0, 0, .3);
      color: white;
    }

    a:hover {
      color: white;
    }
  </style>
</head>

<body>
      <div   class="navbar-area">
        <nav class="navbar navbar-area navbar-expand-lg">
          <div class="container nav-container">
            <div class="responsive-mobile-menu">
              <button class="menu toggle-btn d-block d-lg-none" data-toggle="collapse" data-target="#realdeal_main_menu"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-left"></span>
                <span class="icon-right"></span>
              </button>
            </div>
            <div class="logo">
              <a href="index.html"><img src="./../../assets/Images/WhatsApp Image 2020-08-19 at 12.09.10 PM.jpeg"
                  style="width: 180px; height: 30px" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse" id="realdeal_main_menu">
              <ul class="navbar-nav menu-open"> 
                <!-- <li *ngIf="isLogin==true" class="nav-item dropdown">
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/mydashboard']"
                      routerLinkActive="router-link-active">{{names}}</a>
                    <a class="dropdown-item" (click)="Logout()">Log Out</a>
                  </div>
                  <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img style="width: 40px; height: 40px;" [src]="url" class="rounded-circle">
                  </a> 
                </li> -->

              </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- navbar end -->

      <!-- banner area start -->
      <div class="banner-area jarallax" style="background-image: url(./../../assets/860287-homeloan-istock-081919.jpg);">
        <div class="container">
          <div class="banner-inner-wrap">
            <div class="row">
              <div class="col-12">
                <div class="banner-inner">

                  <b style="font-family:sans-serif; font-size: 40px; color: tomato;">Looking For Home loan?</b>
                </div>
              </div>
              <div class="col-12">
                <div class="banner-search-wrap">
                 
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs_1"> 
                      <div class="rld-main-search">
                        <label><img src="./../../assets/img/loc.png"> Location</label>
                        <div class="row">
                          <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="rld-single-input left-icon">
                             <select style="height: 44px;" class="form-control">
                               <option>Select City</option>
                               <option>Chennai</option>
                               <option>Delhi</option>
                               <option>Hyderbad</option>
                               <option>Mumbai</option>
                                <option>Noida</option>
                             </select>
                            </div>
                          </div>
                          <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="rld-single-input left-icon">
                             <input type="text" class="form-control" placeholder="Property Amount">
                            </div> 
                          </div>
                         
                          <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="rld-single-select">
                              <button class="btn btn-yellow" style="color: white;" >
                                 Find Best offer
                                
                              </button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>

            </div>
          </div>
            
        </div>
        <section>
          <div class="">
            <div class="row">
              <div class="board">
                <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                <div class="board-inner">
                  <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <li class="active">
                      <p style="color: white;" class="text text-center badge badge-info">Bank Information</p>
                      <a href="#home" data-toggle="tab" title="welcome">
                        <span class="round-tabs one">
                          <i class="glyphicon glyphicon-home"></i>
                        </span>
                      </a></li>

                    <li>
                       <p style="color: white;" class="text text-center badge badge-info">Buying Process</p>
                      <a href="#profile" data-toggle="tab" title="profile">
                        <span class="round-tabs two">
                          <i class="glyphicon glyphicon-user"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                       <p style="color: white;" class="text text-center badge badge-info">EMI Calculator</p>
                      <a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                        <span class="round-tabs three">
                          <i class="fa fa-calculator"></i>
                        </span> </a>
                    </li>

                    <li>
                       <p style="color: white;" class="text text-center badge badge-info">Home Loan Document</p>
                      <a href="#settings" data-toggle="tab" title="blah blah">
                        <span class="round-tabs four">
                          <i class="fa fa-file"></i>
                        </span>
                      </a></li> 
                    <li>
                       <p style="color: white;" class="text text-center badge badge-info">Fees and Charges</p>
                      <a href="#doner" data-toggle="tab" title="completed">
                        <span class="round-tabs five">
                          <i class="fa fa-money"></i>
                        </span> </a>
                    </li>

                  </ul>
                </div>

                <div class="tab-content">
                  <div class="tab-pane fade in active" id="home">

                    <h3 class="head text-center">Home Loan Bank Information<sup>*</sup>  
                    </h3>
                    <p class="narrow text-center">
                     Home Loan Buying Process
                    </p>

                    <p class="text-center">
                      <a href="" class="btn btn-success btn-outline-rounded green"> start using Offer<span
                          style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                  </div>
                  <div class="tab-pane fade" id="profile">
                    <h3 class="head text-center">Bank Details<sup>™</sup> Profile</h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut,
                      utinam
                      saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                      <a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span
                          style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>

                  </div>
                  <div class="tab-pane fade" id="messages">
                    <h3 class="head text-center">EMI Calculator</h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut,
                      utinam
                      saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                      <a href="" class="btn btn-success btn-outline-rounded green"> EMI Calculate Section <span
                          style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                  </div>
                  <div class="tab-pane fade" id="settings">
                    <h3 class="head text-center">File Verification!</h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut,
                      utinam
                      saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                      <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span
                          style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                  </div>
                  <div class="tab-pane fade" id="doner">
                    <div class="text-center">
                      <i class="img-intro icon-checkmark-circle"></i>
                    </div>
                    <h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span>
                      Bootstrap
                    </h3>
                    <p class="narrow text-center">
                      Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut,
                      utinam
                      saperet facilisi an vim.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>

    
</body>